<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    this is newly added view page 
    <h1>view page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi asperiores necessitatibus corporis harum omnis, animi totam libero reiciendis ea magnam debitis commodi pariatur accusantium voluptatem soluta in atque nisi.
    Optio sequi earum suscipit accusamus, ex labore nemo corrupti voluptate tempore totam velit ipsam excepturi quasi ipsa. Odio aliquid, iste quas eum tempora molestias earum amet praesentium fugit? Labore, dolore?
    Facere quisquam placeat maiores quos cupiditate. Voluptates voluptatem id quia veritatis error facilis esse autem vero ex. Fugiat, consectetur reprehenderit. Sequi laborum veniam illum quaerat aliquam omnis minima enim tenetur?
    Perspiciatis ipsam commodi doloremque suscipit officia temporibus qui quidem dolores modi voluptatem explicabo quia odio at, cupiditate est dicta, ea tempora exercitationem, error pariatur accusantium voluptas quasi praesentium. Repudiandae, aut.
    Quo veniam exercitationem quos magni voluptatum, amet, laudantium dolor voluptates illum placeat eius consectetur harum quidem repellendus expedita quisquam velit libero! Nobis, id fugiat placeat voluptatum quo quasi quas error.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis excepturi, aliquam ratione qui debitis perferendis porro incidunt enim temporibus. Earum architecto officia consequuntur ipsa exercitationem voluptate laborum nobis incidunt odio?


    </p>

    <h2> Front end developer</h2>
</body>
</html>